<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegController</servlet-name>
        <servlet-class>controller.RegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aProController</servlet-name>
        <servlet-class>controller.aProController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uProController</servlet-name>
        <servlet-class>controller.uProController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dProController</servlet-name>
        <servlet-class>controller.dProController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aSearchController</servlet-name>
        <servlet-class>controller.aSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controller.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upOrderController</servlet-name>
        <servlet-class>controller.upOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upAccountController</servlet-name>
        <servlet-class>controller.upAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upAcController</servlet-name>
        <servlet-class>controller.upAcController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aProController</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uProController</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dProController</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aSearchController</servlet-name>
        <url-pattern>/aSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upOrderController</servlet-name>
        <url-pattern>/upOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upAccountController</servlet-name>
        <url-pattern>/upAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upAcController</servlet-name>
        <url-pattern>/upAc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            40
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
